<!DOCTYPE html>
<html>
  <head>
    <title>Website Screenshot App</title>
    <meta name="description" content="Website Screenshot App">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body ng-app="webscreenshot" ng-clock>
    
    <div class="header">
      <h1>
        Website Screenshot App
      </h1>
      <span>Take screenshot of any webpage</span>
    </div>
    
    {{{body}}}
   

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="/js/app.js"></script>

  </body>
</html>
