<div class="wrapper" ng-controller="MainCtrl">
  <form ng-submit="submit(url)">
    <input type="text" ng-model="url" placeholder="Enter url and press enter" required/>
  </form>

  <div class="error" ng-show="error" ng-cloak><span>[[error_msg]]</span></div>

  <div class="loading" ng-show="loading" ng-cloak><span>Loading...</span></div>
  <div class="url-div" ng-show="show_url" ng-cloak><span>your download <a href="[[download_url]]" target="__blank">link</a></span></div>
</div>